mysqlclient
Django==1.8.4
django-registration==2.2
django-debug-toolbar
django-recaptcha2
django-bootstrap3
django-countries
Pillow
django-rules-light
django-mptt
django-pagination-bootstrap
django-markdownx
django-siteprefs
django-memoize