mysqlclient
python-dotenv
six
Django
django-registration-redux
django-debug-toolbar
django-recaptcha2
django-bootstrap3
django-countries
Pillow!=5.1.0
#django-rules-light
django-mptt
django-pagination-bootstrap
django-markdownx
#django-siteprefs
django-memoize
django-etc
django-classy-tags
