/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

img {
    max-width: 100%;
}
.navbar-brand img {
    display: inline;
    max-height: calc(100% + 30px);
    margin: -15px 0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
}
.footer .nav>li {
    display: inline-block;
}
.bs-callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4, .errorlist {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}
.mt-15 {
 margin-top: 15px;
}
.vote-buttons .glyphicon {
    display: block;
    text-align: center;
    padding: 0;
    line-height: 20px;
}
.vote-buttons h2 {
    margin: 0;
    text-align: center;
}
.vote-buttons {
    padding-right: 0;
}
.vote-buttons+div {
    padding-left: 0;
}
.markdownx-editor {
    width: 100%;
}
@media (min-width: 601px) {
 .m {display: none;}
}
@media (max-width: 600px) {
 .pagination>li.d {display: none}
 .pagination>.active>a, .pagination>.active>span {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
 }
}
