{% extends "base.html" %}
{% load static %}
{% load i18n %}



{% block content %}

            <!--First Thread-->
            <div class="row">
                    <div class="col-xs-1">
                        <a class="btn glyphicon glyphicon-chevron-up"></a>
                        <a class="btn glyphicon glyphicon-chevron-down text-danger"></a>
                        <a class="btn glyphicon glyphicon-trash text-danger"></a>

                        <h2 class="text-center text-danger">5</h2>
                    </div>

                    <div class="col-xs-10 col-sm-11  col-md-11">
                       #1234 | posted by <a href="#"><img src="{% static "images/akiba.png" %}" width="20" height="20"/>&nbsp;SomeUser</a>
                            | 44 minutes ago on <a href="#">Another very cool building is erected in Tokyo</a></p>
                    </div>


                    <div class="col-xs-10 col-sm-11  col-md-11">


                        <p>Aliquam ultricies urna at congue convallis. Donec suscipit mi libero, a iaculis nisl
                            hendrerit in. Nulla finibus, felis vitae porta molestie, ex libero sagittis est, quis
                            blandit leo orci ac dolor. Nullam pretium nibh lacus, eget placerat sapien ultrices eu.
                            Maecenas dapibus luctus placerat. Curabitur ut odio ac lacus rhoncus semper rhoncus ut elit.
                            Donec at ligula et eros eleifend luctus eget a lacus. </p>
                    </div>
                <!--End first Thread-->
            </div>

            <!--spacer-->
            <div class="row">
                <div class="col-xs-12    col-md-11 col-md-offset-1">
                    <hr>
                </div>
            </div>
            <!--end spacer-->

            <!--start submit comment form-->
            <div class="row">
                <div class="col-xs-12    col-md-11 col-md-offset-1">
                    <div class="form-group">
                        <form>
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea><br>

                            <button type="submit" class="btn btn-primary pull-right">Post comment</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--End submit comment form-->


{% endblock %}


{% block rightcolumn %}
    {#    {% if user.is_authenticated %}#}
    {#        <p>You are already logged in.#}
    {#        </p>#}
    {#    {% else %}#}
    {#        <p>You are not logged in?!</p>#}
    {#    {% endif %}#}



{% endblock %}