{% extends "base.html" %}
{% block content %}
{% load rules_light_tags %}
{% rule 'akiba.thread.update' object as can_update %}
{% rule 'akiba.post.create' object as can_reply %}
            <!--First Thread-->
            <div class="row">
                <div>
                    <div class="col-xs-1">
                        <a class="btn glyphicon glyphicon-chevron-up"></a>
                        <a class="btn glyphicon glyphicon-chevron-down text-danger"></a>
                        <a class="btn glyphicon glyphicon-trash text-danger"></a>
                        <a class="btn glyphicon glyphicon-lock text-danger"></a>

                        <h2 class="text-center">5</h2>
                        <span class="btn glyphicon glyphicon-link disabled" aria-hidden="true"></span>

                    </div>
                    <div class="col-xs-10 col-sm-11  col-md-11">
                        <h2><a href="{% url 'thread' object.id %}"> {{ object.title }}</a>
                            {% if can_update %}<a class="btn glyphicon glyphicon-edit text-success" href="{% url 'edit_thread' object.id %}"></a>{% endif %}
                        </h2>

                        <!--Tags-->

                        <div>posted by <a href="{% url 'profile' object.user.id %}"><img src="{{ object.user.profile.avatar.url }}" width="20" height="20"/>&nbsp;{{ object.user }}</a>
                            | {{ object.created|timesince }} ago in <a href="#" class="label label-primary">Science&Technology</a> <a
                                    href="#" class="label label-primary">Gaijin</a></p>
                        </div>

                    </div>
                    {% if object.image %}
                    <div class="col-xs-10 col-sm-11  col-md-11">

                        <a href="#" class="thumbnail">
                            <img src="{{ object.image }}" alt="...">
                        </a>
                    </div>
                    {% endif %}

                    <div class="col-xs-12    col-md-11 col-md-offset-1">
						{{ thread.text|safe }}
                    </div>
                </div>
            </div>
            <!--End first Thread-->

            <!--spacer-->
            <div class="row">
                <div class="col-xs-12    col-md-11 col-md-offset-1">
                    <hr>
                </div>
            </div>
            <!--end spacer-->
			{% if can_reply %}
            <!--start submit comment form-->
            <div class="row">
                <div class="col-xs-12    col-md-11 col-md-offset-1">
                    <div class="form-group">
                        <form method="post" action="{% url 'reply_thread' object.id %}">
	                        {% csrf_token %}
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment" name="text" required></textarea><br>

                            <button type="submit" class="btn btn-primary pull-right">Post comment</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--End submit comment form-->
			{% endif %}

			{% include "comments_list.html" with comments=object.comments request=request only %}

{% endblock %}



{% block rightcolumn %}
    {#    {% if user.is_authenticated %}#}
    {#        <p>You are already logged in.#}
    {#        </p>#}
    {#    {% else %}#}
    {#        <p>You are not logged in?!</p>#}
    {#    {% endif %}#}



{% endblock %}