{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Load CSS and JavaScript #}
    <script src="{% static "js/jquery.min.js" %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}

    {% block css %}
        <link rel="stylesheet" href="{% static "style.css" %}" />
    {% endblock %}

    <title>
        {% block title %}
            {{ site_name }}
        {% endblock %}
    </title>

    <meta name="description" content="{% block description %}Questions about Japan answered directly from Akihabara, Tokyo!{% endblock %}">
    {% if google_analytics_id %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ google_analytics_id }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
</head>

<body>

{#----------------header-------------------------#}
{% block header %}
    {% load askapp_filters %}
    <nav class="navbar navbar-default">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">{{ site_name }}</a>
            </div>


            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="{% url_active 'index' %}"><a href="{% url 'index' %}">Top</a></li>
                    <li class="{% url_active 'recent' %}"><a href="{% url 'recent' %}">Recent</a></li>
                    {% if user.is_authenticated %}
                    <li class="{% url_active 'favorites' %}"><a href="{% url 'favorites' %}">Favorite posts</a></li>
                    {% endif %}
                    <li class="{% url_active 'new_thread' %}"><a href="{% url 'new_thread' %}">Submit post</a></li>

                </ul>


                <div class="nav navbar-btn navbar-right">
                    {% if user.is_authenticated %}
                        Logged in: <a href="{% url 'profile_edit' %}">{{ user.username }}</a>
                        (<a href="{% url 'auth_logout' %}?next={{ request.path }}">Log out</a> )
                    {% else %}
                        <a href="{% url 'auth_login' %}?next={{ request.path }}" class="btn btn-link">Login</a>
                        <a href="{% url 'registration_register' %}"
                           class="btn btn-primary">Register</a>
                    {% endif %}


                </div>

            </div>
        </div>
    </nav>
{% endblock %}
{# --------------------- end header -------------------------#}


<div class="container">

    <div class="row">

        {#--------------main column ----------------#}
        <div class="col-md-9">
            {% block content %}
                this is the content block
            {% endblock %}

        </div>
        {#--------------end main column ----------------#}


        {#--------------right column ----------------#}
        <div class="col-md-3 visible-md-block visible-lg">
            {% block rightcolumn %}
                this is right column block
            {% endblock %}

        </div>
        {#--------------end right column ----------------#}

    </div>
</div>


<footer class="footer" style="background-color: #adadad">
    <div class="container">

        {% block footer %}

            <div class="navbar-default">
                <div class="col-sm-12 col-lg-3">
                    <span class="navbar-brand"> &copy; {% now "Y" %} <a href="{% url 'index' %}">{{ site_name }}</a></span>
                </div>
                <div class=" col-sm-12 col-lg-5">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'recent' %}">Recent</a></li>
                        <li><a href="{% url 'new_thread' %}">Submit post</a></li>

                    </ul>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <span class="navbar-brand"> Powered by <a href="http://askapp.org">askapp.org</a></span>
                </div>
            </div>

        {% endblock %}
    </div>
</footer>
</body>

</html>
