{% load mptt_tags %}
{% load rules_light_tags %}

{% recursetree comments %}
{% rule 'askapp.postlike.up' node as can_like_post %}
{% rule 'askapp.postlike.down' node as can_dislike_post %}
{% rule 'askapp.post.delete' node as can_delete_comment %}
{% rule 'askapp.post.delete_all' node as can_delete_comment_tree %}
<div class="row">
    <div class="col-xs-12 col-md-11 col-md-offset-{{ node.get_level|add:1 }}">
		{% if node.deleted %}
			deleted
        {% else %}
        {% if can_like_post %}
          <a class="btn glyphicon glyphicon-chevron-up a postlike" href="{% url 'post_like' node.id 'up' %}" title="Upvote"></a>
        {% elif request.user.is_active %}
          <a class="btn glyphicon glyphicon-chevron-up disabled" title="Upvote"></a>
        {% else %}
          <a class="btn glyphicon glyphicon-chevron-up " href="{% url 'account_login' %}" title="Upvote"></a>
        {% endif %}
        <span class="text-danger num-points"> {{ node.points }} </span>
        {% if can_dislike_post  %}<a class="btn glyphicon glyphicon-chevron-down text-danger a postlike" href="{% url 'post_like' node.id 'down' %}" title="Downvote"></a>{% endif %}
        {% if can_delete_comment %}<a href="{% url 'delete_comment' node.id %}" title="Delete this comment" class="glyphicon glyphicon-trash text-danger"></a>{% endif %}
        {% if can_delete_comment_tree %} &nbsp; |  &nbsp; <a href="{% url 'delete_comment_tree' node.id %}" title="Delete this comment and all its children"> <span class="glyphicon glyphicon-scissors text-danger"></span>  </a> &nbsp; {% endif %}

        | <a href="{% url 'comment_page' node.id %}">#{{ node.id }}</a> by <a href="{% url 'profile' node.user.id node.user|slugify %}">&nbsp;{{ node.user }}</a>
        | {{ node.created|timesince }} ago

        <div>{{ node.text|safe }}<br>
            <a href="{% url 'comment_page' node.id %}">comment</a>
        </div>

        <!--Tags-->
		{% endif %}
    </div>
</div>
{% if not node.is_leaf_node %}
    {{ children }}
{% endif %}
{% endrecursetree %}
