{% extends "base.html" %}
{% load static %}
{% load i18n %}



{% block content %}

    <h2>Thank you!</h2>
    <p>Thank you for creating your account! A confirmation email has been sent to the address that you have submitted.
        If you don't find it in a few minutes, please, check your spam folder.</p>

{% endblock %}


{% block rightcolumn %}
    {#    {% if user.is_authenticated %}#}
    {#        <p>You are already logged in.#}
    {#        </p>#}
    {#    {% else %}#}
    {#        <p>You are not logged in?!</p>#}
    {#    {% endif %}#}



{% endblock %}