{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
	{% include 'threads_list.html' %}
{% endblock %}

{% block rightcolumn %}
    {#    {% if user.is_authenticated %}#}
    {#        <p>You are already logged in.#}
    {#        </p>#}
    {#    {% else %}#}
    {#        <p>You are not logged in?!</p>#}
    {#    {% endif %}#}

    <div>
        <h4>About</h4>
        <p>Find links to the most interesting articles about contemporary Japanese culture and technology and
            get your questions about Japan answered directly from Akihabara, Tokyo!</p>
    </div>

    <hr>
    <div><h4>Our categories:</h4>
        <p>
	        {% include 'tags_list.html' with tags=tags only %}
        </p>
    </div>


    <hr />
    <div>
	    <h4>Recently registered users:</h4>
        <div>
            <ul class="list-group">
	            {% for user in users %}
                <li class="list-group-item">
                    <a href="{% url 'profile' user.id user|slugify %}">
                        <img src="{{ user.profile.avatar.url }}" alt="" width="20" height="20"/>
                        {{ user.username }}</a>
                </li>
	            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}