{% extends "base.html" %}
{% load static %}
{% load askapp_filters %}

{% block content %}
  {% include 'threads_list.html' with threads=sticky sticky=True %}

	{% include 'threads_list.html' with threads=threads sticky=False %}
{% endblock %}

{% block rightcolumn %}

    <div>
        <h4>About</h4>
        <p>{{ about_text }}</p>
    </div>

    <hr>

    <div><h4>Our categories:</h4>
        <p>
	        {% include 'tags_list.html' with tags=tags only %}
        </p>
    </div>


    <hr />
    <div>
	    <h4>Recently registered users:</h4>
        <div>
            <ul class="list-group">
	            {% for user in users %}
                <li class="list-group-item">
                    <a href="{% url 'profile' user.id user|slugify %}">
                        <img src="{{ user|avatar_url }}" alt="" width="20" height="20"/>
                        {{ user.username }}</a>
                </li>
	            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}