{% extends "base.html" %}
{% load static %}
{% load i18n %}



{% block content %}


    <ul class="nav nav-tabs">
        <li ><a href="#register" data-toggle="tab">Create an account</a></li>
        <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
    </ul>

        <p>&nbsp;</p>


    <div class="row col-md-6">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="email" class="form-control" id="username" aria-describedby="username"
                       placeholder="Enter your desired username">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
<p>Forgot password? <a href="#"> Reset it!</a></p>

    </div>


{% endblock %}


{% block rightcolumn %}
    {#    {% if user.is_authenticated %}#}
    {#        <p>You are already logged in.#}
    {#        </p>#}
    {#    {% else %}#}
    {#        <p>You are not logged in?!</p>#}
    {#    {% endif %}#}



{% endblock %}