{% extends "base.html" %}
{% load static %}
{% load i18n %}



{% block content %}


    <ul class="nav nav-tabs">
        <li class="active"><a href="#register" data-toggle="tab">Create an account</a></li>
        <li><a href="#login" data-toggle="tab">Login</a></li>
    </ul>

    <p>&nbsp;</p>

    <div class="row col-md-6">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="email" class="form-control" id="username" aria-describedby="username"
                       placeholder="Enter your desired username">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">
                    We'll never share your email with anyone else.
                </small>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    I would like to subscribe to {{ site.name }} newsletter </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    I agree to <a href=""> terms of services</a>.
                </label>
            </div>


            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>


    </div>


{% endblock %}


{% block rightcolumn %}
    {#    {% if user.is_authenticated %}#}
    {#        <p>You are already logged in.#}
    {#        </p>#}
    {#    {% else %}#}
    {#        <p>You are not logged in?!</p>#}
    {#    {% endif %}#}



{% endblock %}