{% if is_paginated %}
{% load i18n %}

<ul class="pagination">
  <li class="m"><a href="?page=1{{ getvars }}{{ hashtag }}"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a></li>
{% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
{% else %}
  <li class="disabled"><a href="#" onclick="javascript: return false;"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
{% endif %}
{% for page in pages %}
  {% if page %}
    {% ifequal page page_obj.number %}
  <li class="active"><a href="#" onclick="javascript: return false;"><span class="m">Page </span>{{ page }}</a></li>
    {% else %}
  <li class="d">
    <a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
  </li>
    {% endifequal %}
  {% else %}
  <li class="d disabled"><a href="#" onclick="javascript: return false;">...</a></li>
  {% endif %}
{% endfor %}
{% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
{% else %}
  <li class="disabled"><a href="#" onclick="javascript: return false;"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
{% endif %}
  <li class="m"><a href="?page={{ pages|last }}{{ getvars }}{{ hashtag }}"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a></li>
</ul>
{% endif %}
