{% extends "base.html" %}
{% load static %}
{% load askapp_filters %}


{% block title %}
    {{ object.username }}'s user profile
{% endblock %}

{% block content %}
    {% load rules_light_tags %}
    {% rule 'askapp.profile.update' object as can_update %}
    <div class="row">
        <div class="col-md-6">
            <img src="{{ object|avatar_url }}">
        </div>

        <h3>
            {{ object.username }}
            {% if can_update %}
                <a class="btn glyphicon glyphicon-edit text-success" href="{% url 'admin_profile_edit' object.id %}"
                   title="Edit profile"></a>{% endif %}
        </h3>

        {% if object.profile.country %}
            <p><img width="30" height="20"
                    src="{{ object.profile.country.flag }}">&nbsp;{{ object.profile.country.name }}
                {% if object.profile.city %}, {{ object.profile.city }}{% endif %}</p>
        {% endif %}
        <p>{{ object.profile.about }}</p>
    </div>

    <div class="row">
        <h3>
            Recent threads by <strong>{{ object.username }}</strong>
        </h3>
        {% include 'threads_list.html' %}
    </div>
    {% if admin_view and favorites %}
    <div class="row">
        <h3>
            Favorite threads of <strong>{{ object.username }}</strong>
        </h3>
        {% include 'threads_list.html' with threads=favorites %}
    </div>
    {% endif %}
{% endblock %}


{% block rightcolumn %}

{% endblock %}