{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Edit your profile{% endblock %}


{% block content %}

    <h2>Edit profile:</h2>
    <div class="row">
        <p>&nbsp;</p>
        <div class="col-md-6">
            Username: <strong class="pull-right"><span>{{ object.user.username }}</span></strong>
        </div>

        <div class="row">
        </div>
        <hr>

        <form method="post" enctype="multipart/form-data">
	        {% csrf_token %}
            <div class="col-md-6">
                <p>
                    <small class="form-text text-muted">We do not require you to fill in this information, however we
                        find that it helps to build a friendly community if people share a little information about
                        themselves and their interests.
                    </small>
                </p>

                <div class="form-group">
	                {{ form.country.errors }}
                    <label for="id_country">Country:</label>
	                {{ form.country }}
                </div>
                <div class="form-group">
	                {{ form.city.errors }}
                    <label for="id_city">City:</label>
	                {{ form.city }}
                </div>

                <div class="form-group">
	                {{ form.about.errors }}
                    <label for="exampleTextarea">About you:</label>
	                {{ form.about }}
                </div>

            </div>

            {# right column #}
            <div class="col-md-6">

                <div>
	                {{ form.avatar.errors }}
                    <p><strong>Avatar:</strong></p>
                    <img src="{% static object.avatar.url %}" />
                </div>
                <div class="form-group">
                    <label for="id_avatar">To replace your current avatar:</label>
                    <input type="file" class="form-control-file" id="id_avatar" name="avatar" aria-describedby="fileHelp">
                </div>
                <p>
                    <small id="fileHelp" class="form-text text-muted">Choose an image file on your computer to upload
                        and use as your avatar.
                    </small>
                </p>

                {% if admin_view %}
                <div class="form-group">
                    <input type="hidden" name="is_active" value="0" />
                    <label>{{ form.is_active }} Active</label>
                    <p class="help">Warning: unchecking this checkbox will delete all user's posts and threads!</p>
                </div>
                {% endif %}

            </div>
            <button type="submit" class="btn btn-primary pull-right">Save profile</button>

        </form>
    </div>

{% endblock %}


{% block rightcolumn %}
    {#    {% if user.is_authenticated %}#}
    {#        <p>You are already logged in.#}
    {#        </p>#}
    {#    {% else %}#}
    {#        <p>You are not logged in?!</p>#}
    {#    {% endif %}#}



{% endblock %}