{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Edit your profile" %}{% endblock %}


{% block content %}

    <h2>Edit profile:</h2>
    <div class="row">
        <p>&nbsp;</p>
        <div class="col-md-6">
            {% trans "Username:" %}<strong class="pull-right"><a
                href="{% url 'profile' object.user.id object.user|slugify %}">{{ object.user.username }}</a></strong>
        </div>

        <div class="row">
        </div>
        <hr>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <p>
                    <small class="form-text text-muted">
                        {% blocktrans %} We do not require you to fill in this information, however we
                            find that it helps to build a friendly community if people share a little information about
                            themselves and their interests.{% endblocktrans %}
                    </small>
                </p>

                <div class="form-group">
                    {{ form.country.errors }}
                    <label for="id_country">{% trans "Country:" %}</label>
                    {{ form.country }}
                </div>
                <div class="form-group">
                    {{ form.city.errors }}
                    <label for="id_city">{% trans "City:" %}</label>
                    {{ form.city }}
                </div>

                <div class="form-group">
                    {{ form.about.errors }}
                    <label for="exampleTextarea">{% trans "About you:" %}</label>
                    {{ form.about }}
                </div>

            </div>

            {# right column #}
            <div class="col-md-6">

                <div>
                    {{ form.avatar.errors }}
                    <p><strong>{% trans "Avatar:" %}</strong></p>
                    <img src="{% static object.avatar.url %}"/>
                </div>
                <div class="form-group">
                    <label for="id_avatar">{% trans "To replace your current avatar:" %}</label>
                    <input type="file" class="form-control-file" id="id_avatar" name="avatar"
                           aria-describedby="fileHelp">
                </div>
                <p>
                    <small id="fileHelp" class="form-text text-muted">
                        {% trans "Choose an image file on your computer to upload and use as your avatar." %}
                    </small>
                </p>

                {% if admin_view %}
                    <div class="form-group">
                        <input type="hidden" name="is_active" value="0"/>
                        <label>{{ form.is_active }} {% trans "Active" %}</label>
                        <p class="help">
                            {% trans " Warning: unchecking this checkbox will delete all user's posts and threads!" %}
                        </p>
                    </div>
                {% endif %}

            </div>
            <button type="submit" class="btn btn-primary pull-right">{% trans "Save profile" %}</button>

        </form>
    </div>

{% endblock %}


{% block rightcolumn %}



{% endblock %}