{% extends "base.html" %}
{% load static %}
{% load recaptcha2 %}

{% block title %}Registration form{% endblock %}


{% block content %}
{% recaptcha_init %}


    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab">Create an account</a></li>
        <li><a href="{% url 'auth_login' %}" >Login</a></li>
    </ul>

    <p>&nbsp;</p>

    <div class="row col-md-6">
      {% if not user.is_authenticated %}
        <form method="post">
	        {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Username:</label>
                <input type="text" class="form-control" id="username" aria-describedby="username"
                       placeholder="Enter your desired username" name="username" value="{{ form.username.value|default:'' }}">
                {{ form.username.errors }}
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email" name="email" value="{{ form.email.value|default:'' }}">
                <small id="emailHelp" class="form-text text-muted">
                    We'll never share your email with anyone else.
                </small>
                {{ form.email.errors }}
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password:</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" name="password1">
                {{ form.password.errors }}
            </div>

            <div class="form-group">
                <label for="exampleInputPassword2">Confirm password:</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="password" name="password2">
                {{ form.password.errors }}
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="newsletter">
                    I would like to subscribe to {{ site_name }} newsletter</label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="tos">
                    I agree to <a href="" target="_blank"> terms of services</a>.
                </label>
                {{ form.tos.errors }}
            </div>

            <div class="form-group">
				{{ form.captcha }}
	            {{ form.captcha.errors }}
            </div>

            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
      {% else %}
          <p>
            You are already logged in.
            {% url 'auth_logout' as logout_url %}
            {% url 'registration_register' as signup_url %}
            <a href="{{ logout_url }}?next={{ signup_url }}">Logout</a> to create another account
          </p>
      {% endif %}

    </div>


{% endblock %}


{% block rightcolumn %}
    {#    {% if user.is_authenticated %}#}
    {#        <p>You are already logged in.#}
    {#        </p>#}
    {#    {% else %}#}
    {#        <p>You are not logged in?!</p>#}
    {#    {% endif %}#}



{% endblock %}
