{% extends "base.html" %}
{% load static %}

{% block title %}{% if not form.instance.pk %}Submit new{% else %}Edit{% endif %} thread{% endblock %}

{% block content %}
    <div class="row col-md-6">
        <form method="post" enctype="multipart/form-data">
	        {% csrf_token %}
            {% if not form.instance.pk or admin_view %}
            <div class="form-group">
	            <label for="id_thread_type">Type:</label>
	            {{ form.thread_type }}
            </div>
            {% endif %}
            {% if not form.instance.pk or admin_view or form.instance.thread_type in 'DU' %}
            <div class="form-group" id="duplicate_group">
	            <label for="id_original">Original thread ID:</label>
	            {{ form.original }}
	            {{ form.original.errors }}
            </div>
            {% endif %}
            {% if not form.instance.pk or admin_view or form.instance.thread_type in 'LL,YT,DU' %}
            <div class="form-group" id="url_group">
	            <label for="id_link">URL:</label>
	            {{ form.link }}
              <button id="yt_group" onclick="return preload_youtube()" class="btn btn-info">Preload</button>
	            {{ form.link.errors }}
            </div>
            {% endif %}
            <div class="form-group">
	            <label for="id_title">Title:</label>
	            {{ form.title }}
	            {{ form.title.errors }}
            </div>
            <div class="form-group">
	            <label for="id_text">Summary:</label>
	            {{ form.text }}
	            {{ form.text.errors }}
            </div>
            <div class="form-group">
	            <label for="id_tags">Categories:</label>
	            {{ form.tags }}
	            {{ form.tags.errors }}
            </div>
            <div class="form-group">
	            <label for="id_image">Image:</label>
	            {% if form.image.value %}
		            <img src="{{ MEDIA_URL }}{{ form.image.value }}" />
	            {% endif %}
	            {{ form.image }}
	            {{ form.image.errors }}
            </div>

            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
    </div>

{{ form.media }}
<script>
{% if admin_view %}
  $('form').on('submit', function(data, q) {
      if ($('#id_thread_type').val() != 'DU')
          $('#id_original').val('')
      return true
  })
{% endif %}

{% if not form.instance.pk or admin_view %}
function preload_youtube() {
  url = $('#id_link').val();
  $.getJSON('{% url 'youtube_info' %}?q='+url, function(data) {
    $('#id_title').val(data.title);
    $('#id_text').val(data.description);
    img = $('.form-group img');
    if (!img.length)
      img = $('#id_image').before('<img src="'+data.image+'" />');
    else
      img.attr('src', data.image);
  }).error(function() {
    alert('This is not a valid YouTube URL');
    $('#id_link').val('').triggerHandler('input');
  });
  return false;
}
$('#id_thread_type').on('change', function() {
	if ($.inArray($(this).val(), ['LL', 'YT', 'DU']) >= 0)
		$('#url_group').show();
	else
		$('#url_group').hide();
  if ($('#id_thread_type').val() == 'YT')
    $('#yt_group').show();
  else
    $('#yt_group').hide();
  if ($('#id_thread_type').val() == 'DU')
      $('#duplicate_group').show();
  else
      $('#duplicate_group').hide();
});
$('#id_link').on('input', function () {
  if (this.value)
    $('#yt_group').removeAttr('disabled');
  else
    $('#yt_group').attr('disabled', 'disabled')
})
$('#id_thread_type').triggerHandler('change');
$('#id_link').triggerHandler('input');
{% endif %}
</script>
{% endblock %}


{% block rightcolumn %}
{% endblock %}