{% load rules_light_tags %}
{% load askapp_filters %}
{% load i18n %}

{% if not sticky %}
    {% load pagination_tags %}
    {% if not per_page %}
        {% autopaginate threads %}
    {% else %}
        {% autopaginate threads per_page %}
    {% endif %}
{% endif %}

{% for thread in threads %}

    {% if forloop.counter0 %}
        <!--spacer-->
        <hr/>
        <!--end spacer-->
    {% endif %}

    {#  Thread #}
    <div class="row thread-list-row">
    <div class="col-xs-1 {% if sticky and thread.sticky or thread.featured %}mt-15{% endif %}">
        {% rule 'askapp.threadlike.up' thread as can_like_thread %}
        {% rule 'askapp.threadlike.down' thread as can_dislike_thread %}
        {% rule 'askapp.thread.favorite' thread as can_favorite_thread %}
        {% rule 'askapp.thread.unfavorite' thread as can_unfavorite_thread %}
        {% include 'thread_like_button.html' with object=thread %}
        {% if home_page %}
            <h2 class="text-center">{{ thread.points }}</h2>
        {% endif %}
        {% if can_dislike_thread %}<a class="btn glyphicon glyphicon-chevron-down text-danger"
                                      href="{% url 'thread_like' thread.id thread.title|slugify 'down' %}"></a>{% endif %}
        {% if thread.thread_type == 'LL' %}
            <span class="btn glyphicon glyphicon-link disabled" aria-hidden="true"></span>
        {% elif thread.thread_type == 'DD' %}
            <span class="btn glyphicon glyphicon-comment disabled" aria-hidden="true"></span>
        {% elif thread.thread_type == 'QQ' %}
            <span class="btn glyphicon glyphicon-question-sign disabled" aria-hidden="true"></span>
        {% endif %}
        {% if can_favorite_thread %}<a class="btn glyphicon glyphicon-star-empty" title="{% trans "Add to Favorites" %}"
                                      href="{% url 'thread_favorite' thread.id thread.title|slugify 'favorite' %}"></a>{% endif %}
        {% if can_unfavorite_thread %}<a class="btn glyphicon glyphicon-star" title="{% trans "Remove from Favorites" %}"
                                      href="{% url 'thread_favorite' thread.id thread.title|slugify 'unfavorite' %}"></a>{% endif %}
    </div>

    <div class="col-xs-10 col-sm-11 {% if sticky and thread.sticky %}bs-callout bs-callout-success bg-success{% endif %}{% if thread.featured %} bs-callout bs-callout-info bg-info{% endif %}">
        {% if thread.image %}
            <div class="col-xs-10 col-sm-11  col-md-3">
                <a href="{% url 'thread' thread.id thread.title|slugify %}" class="thumbnail">
                    <img src="{{ thread.image.url }}" alt="...">
                </a>
            </div>
            <div class="col-xs-12    col-md-9">

        {% else %}
            <div class="col-xs-12    col-md-12">
        {% endif %}

        {% if thread.thread_type == 'LL' %}
            <a href="{{ thread.link }}">{{ thread.title }}</a>

        {% else %}
            <a href="{% url 'thread' thread.id thread.title|slugify %}">{{ thread.title }}</a>
        {% endif %}

        {% if thread.domain %}
            <span class="small">{{ thread.domain }}</span>
        {% endif %}

        <div>
            {{ thread.text|markdownify_noimages|truncatechars_html:200 }}
        </div>

        <!--Tags-->
        <div>
            {% include 'tags_list.html' with tags=thread.tags.all only %}
        </div>

        <div>
            {% url 'profile' thread.user.id thread.user|slugify as url_profile %}
            {% url 'thread' thread.id thread.title|slugify as url_thread %}

                <p>{% trans "posted by" %} <a href="{{ url_profile }}">
                    <img src="{{ thread.user.profile.avatar.url }}" width="20" height="20"/>&nbsp;{{ thread.user }}</a>
                    | {% blocktrans with time_since=thread.created|timesince %}{{ time_since }} ago{% endblocktrans %} |
<a href="{{ url_thread }}">{% blocktrans count num_comments=thread.num_comments %}1 comment{% plural %}{{ num_comments }} comments{% endblocktrans %}</a></p>


        </div>
        </div> <!-- .col-md-8(11) -->
        </div> <!-- row -->
    </div> <!-- row -->
    <!--End Thread-->
{% endfor %}

{% if sticky %}
    {% if threads %}
        <hr/>{% endif %}
{% else %}
    <!--pagination-->
    <div class="text-center">
        <nav aria-label="Page navigation ">
            {% paginate %}
        </nav>
    </div>
    <!--end pagination-->
{% endif %}