{% extends "base.html" %}

{% load askapp_filters %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block description %}
    {{ object.text|markdownify_noimages|striptags|escapejs|truncatechars_html:200 }}
{% endblock %}

{% block content %}
    {% load askapp_filters %}
    {% load rules_light_tags %}
    {% rule 'askapp.thread.update' object as can_update %}
    {% rule 'askapp.thread.delete' object as can_delete %}
    {% rule 'askapp.post.create' object as can_reply %}
    {% rule 'askapp.user.upvote_threads' as can_upvote_threads %}
    {% rule 'askapp.threadlike.up' object as can_like_thread %}
    {% rule 'askapp.threadlike.down' object as can_dislike_thread %}
    <!--First Thread-->
    <div class="row">
        <div>
            <div class="col-xs-1">
                {% include 'thread_like_button.html' with object=object %}
                {% include 'thread_dislike_button.html' with object=object %}

                {% if can_delete %}<a class="btn glyphicon glyphicon-trash text-danger"
                                      href="{% url 'delete_thread' object.id object.title|slugify %}"
                                      title="Delete thread"></a>{% endif %}
                {% if can_update %}
                    {% if object.closed %}
                        <a class="btn glyphicon glyphicon-lock text-success"
                           href="{% url 'lock_thread' object.id object.title|slugify 'unlock' %}"
                           title="Unlock thread"></a>
                    {% else %}
                        <a class="btn glyphicon glyphicon-lock text-danger"
                           href="{% url 'lock_thread' object.id object.title|slugify 'lock' %}"
                           title="Lock thread"></a>
                    {% endif %}
                {% endif %}

                <h2 class="text-center num-points">{{ object.points }}</h2>

                <div class="vote-buttons">
                {# Check the type of thread #}
                {% if object.thread_type in 'LL,DU' %}
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                {% elif object.thread_type == 'DD' %}
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                {% elif object.thread_type == 'QQ' %}
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                {% endif %}
                </div>
            </div>
            <div class="col-xs-10 col-sm-11  col-md-11">
                <h2>
                    {% if object.thread_type in 'LL,DU' %}
                        <a href="{{ object.link }}">{{ object.title }}</a>
                    {% else %}
                        {{ object.title }}
                    {% endif %}
                    {% if object.domain %}<span class="small">{{ object.domain }}</span>{% endif %}
                    {% if can_update %}<a class="btn glyphicon glyphicon-edit text-success"
                                          href="{% url 'edit_thread' object.id object.title|slugify %}"
                                          title="Edit thread"></a>{% endif %}
                </h2>

                <!--Tags-->

                <div>
                    {# Example: posted by  banzaitokyo | 3 weeks, 6 days ago in Anime & Manga#}
                    {% url 'profile' object.user.id object.user|slugify as url_profile %}
                    posted by <a href="{{ url_profile }}">
                    <img src="{{ object.user|avatar_url }}" width="20" height="20"/>&nbsp;{{ object.user }}</a>

                    |
                    {{ object.created|timesince }} ago
                    {% if object.tags.all %}
                        in
                        {% include 'tags_list.html' with tags=object.tags.all only %}
                    {% endif %}

                </div>

                {% if object.thread_type == 'YT' %}
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ object.youtube_id }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                {% elif object.image %}
                    <br>
                    <img src="{{ object.image.url }}" style="max-width:100%; height: auto; display:block;">
                {% endif %}

                {{ object.text|markdownify }}
            </div>
        </div>
    </div>
    <!--End first Thread-->
    {% if object.duplicates %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
          <h3>Similar articles:</h3>
          {% for dup in object.duplicates %}
            <h4>
              <a href="{% url 'thread' dup.id dup.title|slugify %}">{{ dup.title }}</a>
              {% if dup.domain %}<span class="small">{{ dup.domain }}</span>{% endif %}
            </h4>
          {% endfor %}
        </div>
    </div>
    {% endif %}
    <!--spacer-->
    <div class="row">
        <div class="col-xs-12    col-md-11 col-md-offset-1">
            <hr>
        </div>
    </div>
    <!--end spacer-->
    {% if can_reply %}
        <!--start submit comment form-->
        <div class="row">
            <div class="col-xs-12    col-md-11 col-md-offset-1">
                <div class="form-group">
                    <form method="post" action="{% url 'reply_thread' object.id object.title|slugify %}">
                        {% csrf_token %}
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment" name="text" required></textarea><br>

                        <button type="submit" class="btn btn-primary pull-right">Post comment</button>
                    </form>
                </div>
            </div>
        </div>
        <!--End submit comment form-->
    {% endif %}

    {% include "comments_list.html" with comments=object.comments request=request only %}

{% endblock %}



{% block rightcolumn %}

{% endblock %}